In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/loan%20aproaval%20DL/loan_approval_dataset.csv', skipinitialspace=True)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
df[['bank_asset_value']]

      bank_asset_value
0              8000000
1              3300000
2             12800000
3              7900000
4              5000000
...                ...
4264            800000
4265           1900000
4266           7300000
4267           5800000
4268          12000000

[4269 rows x 1 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   4269 non-null   int64
 1   no_of_dependents          4269 non-null   int64
 2   education                 4269 non-null   object
 3   self_employed             4269 non-null   object
 4   income_annum              4269 non-null   int64
 5   loan_amount               4269 non-null   int64
 6   loan_term                 4269 non-null   int64
 7   cibil_score               4269 non-null   int64
 8   residential_assets_value  4269 non-null   int64
 9   commercial_assets_value   4269 non-null   int64
 10  luxury_assets_value       4269 non-null   int64
 11  bank_asset_value          4269 non-null   int64
 12  loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [5]:
df.duplicated().sum()

0

In [6]:
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [7]:
df['self_employed'].value_counts()

self_employed
Yes    2150
No     2119
Name: count, dtype: int64

In [8]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [9]:
df['education'].value_counts().keys()

Index(['Graduate', 'Not Graduate'], dtype='object', name='education')

In [10]:
df['self_employed'].value_counts().keys()

Index(['Yes', 'No'], dtype='object', name='self_employed')

In [11]:
df['loan_status'].value_counts().keys()

Index(['Approved', 'Rejected'], dtype='object', name='loan_status')

In [12]:
# cat_columns = ['education', 'self_employed', 'loan_status']
# for column in cat_columns:
#     df[column] = df[column].apply(lambda x: ''.join(x.split()))

# print(df)

In [13]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [14]:
clean_data = pd.get_dummies(df,drop_first="if_binary").astype(int)

In [15]:
x = clean_data.drop("loan_status_Rejected" , axis='columns')
y = clean_data[['loan_status_Rejected']]

In [16]:
x

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0,1
4265,4266,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,1
4266,4267,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1,0
4267,4268,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,0
4268,4269,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0,0

In [17]:
y.value_counts()

loan_status_Rejected
0                       2656
1                       1613
Name: count, dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
x_transformed = std.fit_transform(x)

In [19]:
# train and test
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x_transformed,y,test_size=0.15)

In [24]:
# NO predifined libray and class for train model in ANN

In [21]:
from tensorflow.keras.layers import Dense  # Dense ---> hidden layer
from tensorflow.keras.models import Sequential

In [22]:
x_train.shape[1]

12

In [23]:
ann_model = Sequential()
ann_model.add(Dense(units=68, activation='relu',input_dim=x_train.shape[1])) #=----> input and hidden layer
ann_model.add(Dense(units=45, activation='relu'))   #=----> hidden layer
ann_model.add(Dense(units=28, activation='relu'))   #=----> hidden layer
ann_model.add(Dense(units=1, activation='sigmoid'))  #=----> output layer
# according to accurancy we need to find out the no. of nurones on hidden and input layer
# for output layer if your problem is ##binary classification --> no. on nurones on output layer = 1  :  or the no of class is more than two so no. of nurones = no of classses
# multiclass classifation -> more than two class
# activation for hidden layer : relu
# activation for output layer : for binary class--> sigmoid ; for multiclass--> softmax ; for linear : linear
# this all for forward propagation

# for backward
ann_model.compile(loss="binary_crossentropy" , optimizer="adam" , metrics=['accuracy'])
# for binary_class -> binary_crossentropy
# for multiclass -> catgorical_crossentropy
# loss should be reduced during the traning

# optimizer  --> increase accurancy and optimize value
# optimizer -> Adam , Adamax

ann_model.summary()

c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 68)             │           884 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 45)             │         3,105 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 28)             │         1,288 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            29 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,306 (20.73 KB)

 Trainable params: 5,306 (20.73 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
ann_model.fit(x_train,y_train,epochs=10 , validation_data=(x_test,y_test))

Epoch 1/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 7s 7ms/step - accuracy: 0.7254 - loss: 0.5228 - val_accuracy: 0.9282 - val_loss: 0.2202
Epoch 2/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9148 - loss: 0.2166 - val_accuracy: 0.9282 - val_loss: 0.2046
Epoch 3/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9307 - loss: 0.1876 - val_accuracy: 0.9360 - val_loss: 0.1852
Epoch 4/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9383 - loss: 0.1581 - val_accuracy: 0.9298 - val_loss: 0.1858
Epoch 5/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9315 - loss: 0.1584 - val_accuracy: 0.9360 - val_loss: 0.1706
Epoch 6/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9503 - loss: 0.1334 - val_accuracy: 0.9298 - val_loss: 0.1650
Epoch 7/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9472 - loss: 0.1341 - val_accuracy: 0.9470 - val_loss: 0.1451
Epoch 8/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9541 - loss: 0.1158 - val_accuracy: 0.9548 - val_loss: 0.1457
Epoch 9/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9611 - loss: 0.1000 - val_accuracy: 0.9548 - val_loss: 0.1409
Epoch 10/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9595 - loss: 0.1119 - val_accuracy: 0.9532 - val_loss: 0.1337

In [29]:
# pd.DataFrame(history.history).plot()

In [25]:
pred = ann_model.predict(x_test)

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

In [26]:
pred.shape

(641, 1)

In [27]:
prediction = (pred>0.5).astype(int).ravel()
# probability
# if probabilit> 0.5-->1
# else -->0
prediction.shape

(641,)

In [28]:
y_test['prediction'] = prediction

In [29]:
y_test.head(40)

      loan_status_Rejected  prediction
95                       0           1
1660                     0           0
1479                     0           0
2705                     1           1
819                      0           0
3190                     1           1
1511                     0           0
221                      0           0
1578                     0           0
2963                     1           1
3435                     1           1
1205                     1           1
3099                     1           1
3299                     0           0
3383                     1           1
4212                     0           0
1234                     0           0
1933                     1           1
2845                     0           0
526                      0           0
1659                     0           0
562                      1           1
1831                     0           0
110                      0           0
61                       0           0
4156                     1           1
668                      1           1
2122                     0           0
646                      0           0
253                      0           0
2263                     1           1
3689                     1           1
2183                     1           1
3912                     0           0
3465                     0           0
498                      1           1
2647                     0           0
3760                     0           0
3653                     0           0
3711                     1           1

In [30]:
y_test['prediction']

95      1
1660    0
1479    0
2705    1
819     0
       ..
1293    0
4153    0
3478    1
1485    1
3753    0
Name: prediction, Length: 641, dtype: int32

In [31]:
y['loan_status_Rejected']

0       0
1       1
2       1
3       1
4       1
       ..
4264    1
4265    0
4266    1
4267    0
4268    0
Name: loan_status_Rejected, Length: 4269, dtype: int32

In [32]:
# classification matrix
# confussion matrix
ann_model.save('loan_approval_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.